{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block hometab %} active {% endblock hometab %}

{% block body %}

  <main class="px-3">
    <h1>Loan Eligibility with Secure FHE</h1>
    <p class="lead">Experience the future of data security at Bank of Kuber, where Fully Homomorphic Encryption (FHE) ensures your financial information remains private while offering innovative loan eligibility services. Join us to explore how FHE is revolutionizing data security and enabling secure loan assessments. Bank of Kuber - where your data's security comes first.</p>
    <p class="lead">
      <a href="/about_us" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
  </main>

{% endblock body %}
